@{
    ViewData["Title"] = "Home Page";
}


<div id="dvTopMessage" class="text-center">
    <div class="ui-state state-ok">
        SYSTEM ONLINE
    </div>
</div>
<div>
    <table class="tbl" width='100%'>
        <thead>
            <tr>
                <th>ad</th>
                <th style="width:10%">tip</th>
                <th style="width:30%">servis</th>
                <th style="width:10%">sn</th>
                <th style="width:10%">durum</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div id="dvScanningNow" style="width: 100%;">
</div>
